echo "Starting workers"

{%- include "dask_env.j2" %}
srun --ntasks={{machine.ntasks}} shifter dask-cuda-worker \
    --scheduler-file $scheduler_file \
    --interface hsn0 \
    --rmm-pool-size 38GB \
    --rmm-log-directory "{{machine.workdir}}/rmm-logs/" \
    --rmm-track-allocations True \
    --protocol tcp \
    --preload $preload_file \
    --preload dask_cuda.initialize &

sleep 30