echo "Start counting"

{%- include "dask_env.j2" %}
shifter python {{machine.count_path}}  \
  --scheduler-file $scheduler_file \
  --protocol tcp \
  --interface hsn0 \
  --markdown \
  --rmm-pool-size 38GB \
  --rmm-log-directory "{{machine.workdir}}/rmm-logs/" \
  --workdir {{machine.workdir}} \
  --runs {{matrix.num_runs}} \
  --no-silence-logs \

echo "Client done: $(date +%s)"
# Wait for the cluster to shut down gracefully
sleep 2