{% include "0_header.j2"  %}

# Much taken from https://gist.github.com/quasiben/5e5c6a394d1a5fab8fb1ee0cb338ed8c
{# set -xo pipefail #}
date
pwd

# load aliases like module (TODO: unsure if needed)
source /etc/profile

# Load Cuda Environment
module load cudatoolkit/11.7
module load PrgEnv-nvidia
module load Nsight-Systems

# Print python location
which python

# Prepare output directory
scheduler_file={{machine.workdir / "scheduler_file.json"}}
rm -f $scheduler_file
cd /source/stempy/python
export PYTHONPATH=$PYTHONPATH:$PWD

# Setup image, preloads
preload_file="{{machine.preload_path}}"
RMM_LOG_DIR="{{machine.workdir}}/rmm-logs/"

echo "Using scheduler file in $scheduler_file"
echo "Using preload file: $preload_file"
echo "Using RMM Log Directory: $RMM_LOG_DIR"

# Start scheduler
{% include "1_scheduler.sh.j2" %}

# Start workers
{% include "2_workers.sh.j2" %}

# Run counting
{% include "3_run.sh.j2" %}