#!/bin/bash 
echo "Starting scheduler..."

scheduler_file={{dask_settings.scheduler_file_path}}
rm -f $scheduler_file
cd /source/stempy/python
export PYTHONPATH=$PYTHONPATH:$PWD

#Modify this with your dask image name
image={{settings.shifter_settings.SHIFTER_IMAGEREQUEST}}
preload_file=stempy_dask.preload_serializers
RMM_LOG_DIR="{{dask_settings.workdir}}/rmm-logs/"

echo "Using scheduler file in $image"
echo "Using image $image"
echo "Using preload file: $preload_file"
echo "Using RMM Log Directory: $RMM_LOG_DIR"

#start scheduler
UCX_MAX_RNDV_RAILS=1 \
UCX_MEMTYPE_REG_WHOLE_ALLOC_TYPES=cuda \
DASK_DISTRIBUTED__COMM__UCX__CREATE_CUDA_CONTEXT=True \
UCX_MEMTYPE_CACHE=n \
UCX_TCP_MAX_CONN_RETRIES=255 \
DASK_DISTRIBUTED__COMM__TIMEOUTS__CONNECT=3600s \
DASK_DISTRIBUTED__COMM__TIMEOUTS__TCP=3600s \
dask scheduler \
    --interface hsn0 \
    --scheduler-file $scheduler_file \
    --preload $preload_file \
    --preload dask_cuda.initialize &

# Wait for the scheduler to start
sleep 2
until [ -f $scheduler_file ]
do
     sleep 2
done

echo "Starting workers"
#start gpu workers
UCX_TCP_MAX_CONN_RETRIES=255 \
DASK_DISTRIBUTED__COMM__TIMEOUTS__CONNECT=3600s \
DASK_DISTRIBUTED__COMM__TIMEOUTS__TCP=3600s \
UCX_MAX_RNDV_RAILS=1 \
UCX_MEMTYPE_REG_WHOLE_ALLOC_TYPES=cuda \
UCX_MEMTYPE_CACHE=n \
SCHEDULER_FILE=$scheduler_file \
PRELOAD_FILE=$preload_file \
srun shifter --image=${image} \
    --volume=/global/homes/s/swelborn/stempy_swelborn/:/source/ \
    {{dask_settings.workdir / "workers.sh"}}

echo "Killing scheduler"
kill -9 $dask_pid